@import url('https://fonts.googleapis.com/css2?family=Roboto@family=Rock+Salt&display=swap');

.home-title
{
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

#content
{
    max-width: 1600px;
    margin: 0 auto;
}

#logo
{
    width: 100px;
}

#ImageGallery
{
    max-width: 3000px;
    margin: 0 auto;
}
#heroImg
{
    max-width: 1600px;
}
#intro_text
{
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
}
#logo_link
{
    padding-top: 5px;
}
#nav a
{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
#hero-msg h1
{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
#hero-msg h4
{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
.button-box
{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
main section
{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
main section img
{
    box-sizing: border-box;
}
#background
{
    height: 725px;
    background-color: #d9c2a3;
}

body
{
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2
{
    margin: 0;
}
#thrill
{
    font-size: 40px;
}
header
{
    background-color:rgba(20,30,13, .7);
}
footer
{
    background-color:rgba(20,30,13, .7);
    text-decoration: none;
}
nav a:hover
{
    background-color: black;
    color: #d9c2a3
}

.logo #rivers #camping #rapids
{
    width: 80px;
}

#hero-img
{
    width: 80px;
}

.icon
{
    padding-top: 10px
    /*width: 80px*/
}

.rivers-card
{
    margin: 200px 0;
}

.camping-card
{
    margin: 200px 0;
}

.rapids-card
{
    margin: 200px 0;
}

.book
{
    background-color: #d9c2a3;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50%;
    border-radius: 5px;
}

.join
{
    background-color: #d9c2a3;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #d9c2a3;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;;
}
.card-img
{
    border: 10px solid #d9c2a3
}
.footer
{
    color: #d9c2a3;
    padding: 25px 50px;
    margin-top: 200px;
}

.footer a
{
    text-align: center;
    color: #d9c2a3;
    text-decoration: none;
}

footer p
{
    font-size: 1.2em;
}

footer p a:hover
{
    text-decoration: underline;
}
footer .social img
{
    padding-top: 15px;
}
.msg
{
    color: #fcfbfb;
    background-color: #6f7364;
    font-size: 1.5em;
    padding: 35px;
}

.msg p
{
    padding-bottom: 15px;
}