<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Gowun+Batang:wght@400;700&display=swap');
--heading-font: "Fredoka";
--paragraph-font: Gowun Batang;

=======
>>>>>>> 7ca9694511cce05fe913e8204a423927611b73f8
#content
{
    max-width: 1600px;
    margin: 0 auto;
}

#ImageGallery
{
    max-width: 1600px;
    margin: 0 auto;
}

#nav a
{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
#hero-msg h1
{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h4
{
    max-width: 1600px;
    margin: 0 auto;
}
.button-box
{
    max-width: 1600px;
    margin: 0 auto;
}
main section
{
    max-width: 1600px;
    margin: 0 auto;
}

#background
{
    height: 725px;
}

body
{
    background-color: #fcfbfb;
}
header
{
    background-color:rgba(20,30,13, .7);
}
footer
{
    background-color:rgba(20,30,13, .7);
    text-decoration: none;
}
nav a:hover
{
    background-color: black;
}

.logo #rivers #camping #rapids
{
    width: 80px;
}

#hero-img
{
    width: 80px;
}