#content
{
    max-width: 1600px;
    margin: 0 auto;
}

#ImageGallery
{
    max-width: 1600px;
    margin: 0 auto;
}

#nav a
{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    text-align: center;
}
#hero-msg h1
{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
#hero-msg h4
{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
.button-box
{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
main section
{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

#background
{
    height: 725px;
    background-color: #d9c2a3;
}

body
{
    background-color: #fcfbfb;
}
header
{
    background-color:rgba(20,30,13, .7);
}
footer
{
    background-color:rgba(20,30,13, .7);
    text-decoration: none;
}
nav a:hover
{
    background-color: black;
    color: #d9c2a3
}

.logo #rivers #camping #rapids
{
    width: 80px;
}

#hero-img
{
    width: 80px;
}

.icon
{
    width: 80px
}

.book
{
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.join
{
    text-align: center;
    color: #000000;
    text-decoration: none;
    background-color: #d9c2a3;
}

.footer
{
    color: #d9c2a3;
}

.footer a
{
    text-align: center;
    color: #d9c2a3;
    text-decoration: none;
}

footer p
{
    font-size: 1.2em;
}

footer p a:hover
{
    text-decoration: underline;
}

.msg
{
    color: #fcfbfb;
    background-color: rgba(20,30,13, .7);
}