.grid-container 
{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 0px;
}
.grid-item
{
    background-color: darkgrey;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 40px;
    color:maroon;
    text-align: center;
}
img 
{
    max-width: 20%;
}